<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container breakpoint="md">
    <c-row class="justify-content-center">
      <c-col lg="10" xl="4">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <h3>Recuperar contraseña</h3>
              <c-alert *ngIf="isError" color="{{typeAlert}}">{{mensajeError}}</c-alert>

              <!--FORMULARIO PARA VALIDAR USUARIO-->
              <form cForm [formGroup]="formUsuario" *ngIf="!usuario">
                <p class="text-body-secondary">Ingrese su usuario o correo</p>

                <c-input-group class="mb-3">
                  <input (blur)="functionsUtils.removeSpaces('usuario', formUsuario)" [valid]="campoRequerido(formUsuario, 'usuario') == 1 ? false : null" autoComplete="username" formControlName="usuario" cFormControl placeholder="Usuario o correo" />
                  <c-form-feedback [valid]="false">Campo requerido.</c-form-feedback>
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button [disabled]="formUsuario.invalid || deshabilitarBotones"  cButton class="px-4" color="primary" (click)="validarUsuario()">
                      Aceptar
                    </button>
                  </c-col>
                </c-row>
              </form>

              <!--FORMULARIO PARA CONFIRMAR CODIGO-->
              <form cForm [formGroup]="formConfirmarCodigo" *ngIf="usuario && !isConfirmed">
                <p class="text-body-secondary">Contacte con el encargado e ingrese código de confirmación enviado al correo</p>
                <c-input-group class="mb-3">
                  <input  (blur)="functionsUtils.removeSpaces('codigo', formConfirmarCodigo)" [valid]="campoRequerido(formConfirmarCodigo, 'codigo') == 1 ? false : null" autoComplete="codigo" formControlName="codigo" cFormControl placeholder="Código" />
                  <c-form-feedback [valid]="false">Campo requerido.</c-form-feedback>
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button [disabled]="formConfirmarCodigo.invalid || deshabilitarBotones"  cButton class="px-4" color="primary" (click)="confirmarCodigo()">
                      Aceptar
                    </button>
                  </c-col>
                </c-row>
              </form>

              <!--FORMULARIO PARA CAMBIAR CONTRASEÑA-->
              <form cForm [formGroup]="formConfirmarCambio" *ngIf="usuario && isConfirmed">
                <p class="text-body-secondary">Ingrese la nueva contraseña</p>
                <c-input-group class="mb-3">
                  <input type="password" (blur)="functionsUtils.removeSpaces('contrasenia', formConfirmarCambio)" [valid]="campoRequerido(formConfirmarCambio, 'contrasenia') == 1 ? false : null" autoComplete="contrasenia" formControlName="contrasenia"
                         cFormControl placeholder="Contraseña" />
                  <c-form-feedback [valid]="false">Campo requerido.</c-form-feedback>
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button [disabled]="formConfirmarCambio.invalid || deshabilitarBotones"  cButton class="px-4" color="primary" (click)="cambiarContrasenia()">
                      Confirmar
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
