<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header class="card-header">

        <div style="display: flex; justify-content: space-between;">
          <strong>Sucursales</strong>
          <div class="col-auto">
            <span>Total: {{pagination.collectionSize}}</span>
          </div>
          <div>
            <button cButton color="secondary" variant="outline" size="sm">
              <svg cIcon name="cilFilter"></svg>
            </button>
            <button cButton color="success" variant="outline" size="sm">
              <svg cIcon name="cilPlus"></svg>
            </button>
          </div>
        </div>
      </c-card-header>
      <c-card-body>
        <c-container>
          <div class="text-center scroll">
            <table [striped]="true" cTable>
              <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Departamento</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let obj of listResponse">
                <th scope="row">{{obj.id}}</th>
                <td>{{obj.nombre}}</td>
                <td>{{obj.descripcion}}</td>
                <td>{{obj.departamento}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="row col-12">
            <div class="col-12 col-md-6" style="margin-top: 1vh; text-align: center;">
              <div class="col-auto">
                <ngb-pagination [(page)]="pagination.page"
                                (pageChange)="changePage($event-1)"
                                [maxSize]="pagination.maxSize"
                                [pageSize]="pagination.pageSize"
                                [collectionSize]="pagination.collectionSize"></ngb-pagination>
              </div>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column flex-md-row justify-content-end align-items-center">
              <div class="col-auto">
                <span>Registros por página:</span>
              </div>
              <div class="col-auto">
                <select class="form-select form-select-sm" [(ngModel)]="pagination.pageSize" (change)="changeSize($event.target)">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </div>
            </div>
          </div>


        </c-container>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
