.logo {
  width: auto;
  height: auto;
  max-width: 30vw;
  max-height: 20vh;
  //height: 15vh;
  //width: 25vw;
  text-align: center;
  align-content: center;
}

.logo-img {
  width: auto;
  height: auto;
  max-width: 30vw;
  max-height: 20vh;
}
