<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm [formGroup]="form" *ngIf="this.form">
              <h1>Registrarse</h1>
              <p class="text-body-secondary">Crea tu cuenta</p>
              <c-alert *ngIf="mostrarError" color="danger">{{mensaje}}</c-alert>
              <c-alert *ngIf="mostrarSuccess" color="success">{{mensaje}}</c-alert>
              <!--Nombres-->
              <c-input-group class="mb-2">
                <div [cFormFloating]="true">
                  <input id="nombres" (blur)="functionsUtils.removeSpaces('nombres', form)" [valid]="(functionsUtils.campoRequerido(form, 'nombres', 'CR') == 1 ? false : null)" autoComplete="name" [maxLength]="70" cFormControl placeholder="Nombres" formControlName="nombres" />
                  <label cLabel for="nombres">Nombres</label>
                  <c-form-feedback [valid]="false">Campo requerido.</c-form-feedback>
                </div>
              </c-input-group>
              <!--Apellidos-->
              <c-input-group class="mb-2">
                <div [cFormFloating]="true">
                  <input id="apellidos" (blur)="functionsUtils.removeSpaces('apellidos', form)" [valid]="functionsUtils.campoRequerido(form, 'apellidos', 'CR') == 1 ? false : null" autoComplete="name" [maxLength]="60" cFormControl placeholder="Apellidos" formControlName="apellidos" />
                  <label cLabel for="apellidos">Apellidos</label>
                  <c-form-feedback [valid]="false">Campo requerido.</c-form-feedback>
                </div>
              </c-input-group>
              <!--Telefono-->
              <c-input-group class="mb-2">
                <div [cFormFloating]="true">
                  <input id="telefono" (blur)="functionsUtils.removeSpaces('telefono', form)" [valid]="functionsUtils.campoRequerido(form, 'telefono', 'CR') == 1 ? false :
                 functionsUtils.campoRequerido(form, 'telefono', 'TI') == 3 ? false : null" autoComplete="telefono" [maxLength]="8" cFormControl placeholder="Teléfono" formControlName="telefono"/>
                  <label cLabel for="telefono">Teléfono</label>
                  <c-form-feedback *ngIf="functionsUtils.getValueMap('telefono') == 1" [valid]="false">Campo requerido.</c-form-feedback>
                  <c-form-feedback *ngIf="functionsUtils.getValueMap('telefono') == 3" [valid]="false">Solo se permiten valores numéricos del 0 al 9 con longitud máxima de 8 carácteres</c-form-feedback>
                </div>
              </c-input-group>
              <!--Correo-->
              <c-input-group class="mb-2">
                <div [cFormFloating]="true">
                  <input id="correo" (blur)="functionsUtils.removeSpaces('correo', form)" [valid]="functionsUtils.campoRequerido(form, 'correo', 'CR') == 1 ? false :
                 functionsUtils.campoRequerido(form, 'correo', 'EI') == 2 ? false : null" autoComplete="email" [maxLength]="60" type="email" cFormControl placeholder="Correo electrónico" formControlName="correo" />
                  <label cLabel for="correo">Correo</label>
                  <c-form-feedback *ngIf="functionsUtils.getValueMap('correo') === 1" [valid]="false">Campo requerido.</c-form-feedback>
                  <c-form-feedback *ngIf="functionsUtils.getValueMap('correo') === 2" [valid]="false">Correo inválido.</c-form-feedback>
                </div>
              </c-input-group>
              <!--Usuario-->
              <c-input-group class="mb-2">
                <div [cFormFloating]="true">
                  <input id="usuario" (blur)="functionsUtils.removeSpaces('usuario', form)" [valid]="functionsUtils.campoRequerido(form, 'usuario', 'CR') == 1 ? false : null" autoComplete="name" [maxLength]="25" cFormControl placeholder="Usuario" formControlName="usuario" />
                  <label cLabel for="usuario">Usuario</label>
                  <c-form-feedback [valid]="false">Campo requerido.</c-form-feedback>
                </div>
              </c-input-group>
              <!--Contrasenña-->
              <c-input-group class="mb-2">
                <div [cFormFloating]="true">
                  <input id="contrasenia" (blur)="functionsUtils.removeSpaces('contrasenia', form)" [valid]="functionsUtils.campoRequerido(form, 'contrasenia', 'CR') == 1 ? false : null" autoComplete="new-password" (keyup)="validarRepetirContrasenia($event)" [maxLength]="35" cFormControl placeholder="Contraseña" type="password"  formControlName="contrasenia"/>
                  <label cLabel for="contrasenia">Contraseña</label>
                  <c-form-feedback [valid]="false">Campo requerido.</c-form-feedback>
                </div>
              </c-input-group>
              <!--Confirmar contraseña-->
              <c-input-group class="mb-2">
                <div [cFormFloating]="true">
                  <input id="confirmarContrasenia" (blur)="functionsUtils.removeSpaces('confirmarContrasenia', form)" [valid]="functionsUtils.campoRequerido(form, 'confirmarContrasenia', 'CR') == 1 ? false : null" autoComplete="new-password" (keyup)="validarRepetirContrasenia($event)" [maxLength]="35" cFormControl placeholder="Confirmar contraseña" type="password"
                         formControlName="confirmarContrasenia"/>
                  <label cLabel for="confirmarContrasenia">Confirmar contraseña</label>
                  <c-form-feedback [valid]="false">Campo requerido.</c-form-feedback>
                </div>
              </c-input-group>
              <div class="d-grid">
                <button [disabled]="form.invalid || contraseniasNoIguales || errorUniques || service.deshabilitarBotones" cButton color="success" style="color: white"
                 (click)="registrarse()">Crear cuenta</button>
              </div>
              <div style="margin: 0 auto; text-align: center;">
                <c-col  >
                  <a cButton class="px-0" color="link" (click)="login()">
                    Iniciar sesión
                  </a>
                </c-col>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
<app-custom-spinner></app-custom-spinner>
