<div class="d-flex justify-content-center">
  <c-button-group aria-label="Basic outlined example" role="group">
    <button cButton color="primary" (click)="cambiarEstado('N')" [active]="estado.value === 'N'" variant="outline">
      Nuevos
    </button>
    <button cButton color="primary" (click)="cambiarEstado('P')" [active]="estado.value === 'P'" variant="outline">
      En proceso
    </button>
    <button cButton color="primary" (click)="cambiarEstado('E')" [active]="estado.value === 'E'" variant="outline">
      Entregados
    </button>
  </c-button-group>
</div>


<div class="d-flex justify-content-center flex-column align-items-center">
  <c-card class="my-5 ancho-personalizado" *ngIf="listResponse && listResponse.length">
    <c-card-body class="card-container" >
      <c-card class="card-item" *ngFor="let obj of listResponse" >
        <div (click)="viajarADetalle(obj)">
          <div class="justify-content-center d-flex">
            <span cCardTitle class="fw-bold m-2 card-title-custom">{{obj.nombres}}</span>
          </div>
          <c-card-body class="card-body-custom text-center">
            <p cCardText>
            </p>
          </c-card-body>
          <br>
        </div>
      </c-card>
    </c-card-body>
  </c-card>
  <div class="d-flex justify-content-center" *ngIf="listResponse && listResponse.length">
    <div class="col-auto">
      <ngb-pagination [(page)]="pagination.page"
                      (pageChange)="changePage($event-1)"
                      [maxSize]="pagination.maxSize"
                      [pageSize]="pagination.pageSize"
                      [collectionSize]="pagination.collectionSize"></ngb-pagination>
    </div>
  </div>
  <c-card class="my-5 ancho-personalizado" *ngIf="!listResponse || (listResponse && listResponse.length === 0)">
    <c-card-body class="d-flex justify-content-center flex-column align-items-center align-content-center" >
      <h4 *ngIf="estado">No existen pedidos: {{estado.value === 'N' ? 'Nuevos' :
                                estado.value === 'P' ? 'En proceso' :
                                estado.value === 'E' ? 'Entregados' : ''}}</h4>
    </c-card-body>
  </c-card>
</div>
<app-custom-spinner></app-custom-spinner>

