<div class="d-flex justify-content-center grupo-botones">
  <c-button-group aria-label="Basic outlined example" role="group" class="d-flex w-100">
    <button cButton (click)="cambiarEstado('N')" [ngClass]="{'button-active': estado.value === 'N', 'button-inactive': estado.value !== 'N'}" class="flex-fill no-border">
      Nuevos
    </button>
    <button cButton (click)="cambiarEstado('P')" [ngClass]="{'button-active': estado.value === 'P', 'button-inactive': estado.value !== 'P'}" class="flex-fill no-border">
      En proceso
    </button>
    <button cButton (click)="cambiarEstado('E')" [ngClass]="{'button-active': estado.value === 'E', 'button-inactive': estado.value !== 'E'}" class="flex-fill no-border">
      Entregados
    </button>
  </c-button-group>
</div>

<div class="d-flex justify-content-center flex-column align-items-center">
    <c-card-body class="card-container ancho-personalizado my-5" >
      <c-card class="card-item" *ngFor="let obj of listResponse" style="color: white;"
              [ngClass]="{
                'blue': obj.estado === 'N',
                'yellow': obj.estado === 'P',
                'green': obj.estado === 'E'
              }"
      >
        <div>
          <div class="d-flex">
            <h4 class="fw-bold m-2">{{obj.nombres + ', ' + obj.apellidos}}</h4>
          </div>
          <c-card-body class="card-body-custom text-center">
            <div class="credits-container">
              <div class="credits-item">
                <span class="fw-bold">Departamento:</span>
                <span>{{dataUtils.descripcionPorCodigo(obj.departamento)}}</span>
              </div>
              <div class="credits-item">
                <span class="fw-bold">Sucursal:</span>
                <span>{{obj.sucursal.nombre}}</span>
              </div>
              <div class="credits-item">
                <span class="fw-bold">Fecha:</span>
                <span>{{functionsUtils.formatDateInTimeZone(obj.fecha)}}</span>
              </div>
              <div class="credits-item">
                <span class="fw-bold">Total:</span>
                <span>{{'Q' + functionsUtils.formatPrice(obj.total)}}</span>
              </div>
            </div>
            <div class="justify-content-center" style="padding-top: 30px;">
              <button cButton color="primary" class="btn-footer no-border w-75" style="margin-bottom: 5px;">Detalle</button>
              <br>
              <button cButton color="primary" class="btn-footer no-border w-75">Cambiar estado</button>
            </div>
          </c-card-body>

          <br>
        </div>
      </c-card>
    </c-card-body>
  <div class="d-flex justify-content-center" *ngIf="listResponse && listResponse.length">
    <div class="col-auto">
      <ngb-pagination [(page)]="pagination.page"
                      (pageChange)="changePage($event-1)"
                      [maxSize]="pagination.maxSize"
                      [pageSize]="pagination.pageSize"
                      [collectionSize]="pagination.collectionSize"></ngb-pagination>
    </div>
  </div>
  <c-card class="my-5 ancho-personalizado" *ngIf="!listResponse || (listResponse && listResponse.length === 0)">
    <c-card-body class="d-flex justify-content-center flex-column align-items-center align-content-center" >
      <h4 *ngIf="estado">No existen pedidos:
        <span class="fw-bold">{{estado.value === 'N' ? 'Nuevos' :
        estado.value === 'P' ? 'En proceso' :
          estado.value === 'E' ? 'Entregados' : ''}}</span></h4>
    </c-card-body>
  </c-card>
</div>
<app-custom-spinner></app-custom-spinner>

