.card-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Valor por defecto */
}

.blue {
  background-color: rgba(0, 41, 153, 0.65);
}


.green {
  background-color: rgba(0, 128, 0, 0.72);
}

.yellow {
  background-color: rgb(249, 177, 21, 0.8);
}



.card-item{
  border-color: rgba(0, 0, 0, 0.1);
  max-height: 450px;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.001s ease;
}

.card-item:hover {
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-0px);
}

.card-body-custom{
  height: 100px;
}

.credits-container {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.credits-item {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

.credits-item span {
  position: absolute;
}

.credits-item span:first-child {
  left: 52%;
  transform: translateX(-100%);
  text-align: right;
  padding-right: 10px;
}

.credits-item span:last-child {
  left: 48%;
  transform: translateX(0);
  text-align: left;
  padding-left: 10px;
}


.ancho-personalizado {
  width: 80%;
}

.no-border {
  border: none;
  box-shadow: none;
}

.button-inactive {
  background-color: rgb(0, 179, 186, 0.7);
  color: white;
}

.button-inactive:active {
  background-color: rgb(0, 179, 186, 0.7);
}

.button-active {
  background-color: rgb(0, 179, 186, 0.9);
  color: white;
}

.button-active:active {
  background-color: rgb(0, 179, 186, 0.9);
}

.grupo-botones button{
  font-size: clamp(12px, 2vw, 16px);
}

.grupo-botones{
  max-width: 100%;
  margin: 0 auto;
}

.btn-footer{
  font-size: 14px;
  height: 50px;
  background-color: rgb(255, 255, 255, 0.3);
}

.btn-footer:hover {
  background-color: rgb(255, 255, 255, 0.5);
}

ngb-pagination ::ng-deep ul > li:not(.active) > a {
  color: rgb(0, 179, 186, 0.9) !important;
}

ngb-pagination ::ng-deep ul > li.active > a {
  background-color: rgb(0, 179, 186, 0.9) !important;
  border-color: rgb(0, 179, 186, 0.5) !important;;
}


@media (min-width: 1351px) {
  .card-container {
    grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
  }

  .ancho-personalizado {
    width: 100%;
  }

  .card-body-custom p{
    font-size: 12px;
    max-width: 17vw;
    height: 100px;
    text-align: center;
    margin: 0 auto;
  }

  .card-title-custom{
    font-size: 13px;
  }
}

/* Dispositivos grandes (desktops, laptops grandes) */
@media (max-width: 1350px) {
  .card-container {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }

  .ancho-personalizado {
    width: 80%;
  }

  .card-body-custom p{
    font-size: 11px;
    max-width: 22vw;
    height: 100px;
    text-align: center;
    margin: 0 auto;
  }

  .card-title-custom{
    font-size: 12px;
  }

}

/* Dispositivos medianos (laptops, tablets en paisaje) */
@media (max-width: 992px) {
  .card-container {
    grid-template-columns: repeat(auto-fill, minmax(31%, 1fr));
  }

  .ancho-personalizado {
    width: 90%;
  }

  .card-body-custom p{
    font-size: 11px;
    max-width: 21vw;
    height: 100px;
    text-align: center;
    margin: 0 auto;
  }

  .card-title-custom{
    font-size: 12px;
  }
}

/* Dispositivos pequeños (tablets en retrato, smartphones grandes) */
@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
  }

  .ancho-personalizado {
    width: 90%;
  }

  .card-body-custom p{
    font-size: 11px;
    max-width: 34vw;
    height: 100px;
    text-align: center;
    margin: 0 auto;
  }

  .card-title-custom{
    font-size: 12px;
  }
}

/* Dispositivos extra pequeños (smartphones) */
@media (max-width: 576px) {
  .card-container {
    grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
  }

  .ancho-personalizado {
    width: 90%;
  }

  .card-body-custom p{
    font-size: 11px;
    max-width: 40vw;
    height: 100px;
    text-align: center;
    margin: 0 auto;
  }

  .card-title-custom{
    font-size: 12px;
  }

}

//Para temas de grid
.scroll{
  max-height: 55vh;
  overflow: scroll;
}

/* Media query para celulares */
@media only screen and (max-width: 767px) {
  td{
    word-wrap: break-word;
    max-width: 60vw;
  }
}

/* Media query para tabletas */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  td{
    word-wrap: break-word;
    max-width: 50vw;
  }
}

/* Media query para dispositivos más grandes */
@media only screen and (min-width: 1024px) {
  td{
    word-wrap: break-word;
    max-width: 20vw;
  }
}

@media (min-width: 1502px) {
  .anchoPedido{
    width: 28vw;
  }

  .anchoFecha1{
    width: auto;
  }

  .anchoFecha2{
    width: auto;
  }

  .anchoBoton{
    width: auto;
  }
}

@media (max-width: 1501px) {
  .anchoPedido{
    width: 18vw;
  }

  .anchoFecha1{
    width: 25vw;
  }

  .anchoFecha2{
    width: 24vw;
  }

  .anchoBoton{
    width: 6vw;
  }
}

@media (max-width: 1254px) {
  .anchoPedido{
    width: 25vw;
  }

  .anchoFecha1{
    width: 20vw;
  }

  .anchoFecha2{
    width: 20vw;
  }

  .anchoBoton{
    width: 5vw;
  }
}

@media (max-width: 1175px) {
  .anchoPedido{
    width: 10vw;
  }

  .anchoFecha1{
    width: 20vw;
  }

  .anchoFecha2{
    width: 20vw;
  }

  .anchoBoton{
    width: 5vw;
  }
}

@media (max-width: 991px) {
  .anchoPedido{
    width: 13vw;
  }

  .anchoFecha1{
    width: 35vw;
  }

  .anchoFecha2{
    width: 34vw;
  }

  .anchoBoton{
    width: 8vw;
  }
}


@media (max-width: 907px) {
  .anchoPedido{
    width: 15vw;
  }

  .anchoFecha1{
    width: 33vw;
  }

  .anchoFecha2{
    width: 32vw;
  }

  .anchoBoton{
    width: 8vw;
  }
}


@media (max-width: 700px) {
  .anchoPedido{
    width: 100vw;
  }

  .anchoFecha1{
    width: 35vw;
  }

  .anchoFecha2{
    width: 35vw;
  }

  .anchoBoton{
    width: 10vw;
  }
}



@media (max-width: 500px) {

  .anchoPedido{
    width: 100vw;
  }

  .anchoFecha1{
    width: 50vw;
  }

  .anchoFecha2{
    width: 50vw;
  }

  .anchoBoton{
    width: 10vw;
  }

}








