<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header class="card-header">

        <div style="display: flex; justify-content: space-between;">
          <strong>Productos</strong>
          <div class="col-auto">
            <span>Total: {{pagination.collectionSize}}</span>
          </div>
          <div>
            <button cButton color="secondary" variant="outline" size="sm" (click)="showModalFilters()">
              <svg cIcon name="cilFilter"></svg>
            </button>
            <button cButton color="success" variant="outline" size="sm" (click)="modal(1, null)">
              <svg cIcon name="cilPlus"></svg>
            </button>
          </div>
        </div>
      </c-card-header>
      <c-card-body>
        <c-container>
          <div class="text-center scroll">
            <table [striped]="true" cTable>
              <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio</th>
                <th scope="col">Tipo de producto</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of listResponse">
                <td>{{item.id}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.descripcion}}</td>
                <td>Q{{functionsUtils.formatPrice(item.precio)}}</td>
                <td>{{item.tipoProducto ? item.tipoProducto.nombre : ''}}</td>
                <td>{{item.estado === 'A' ? 'Activo' : 'Inactivo'}}</td>
                <td>
                  <button cButton color="success" variant="outline" size="sm" (click)="modal(3, item)">
                    <svg cIcon name="cilZoom"></svg>
                  </button>
                  <button cButton color="info" variant="outline" size="sm" (click)="modal(2, item)" *ngIf="item.estado === 'A'">
                    <svg cIcon name="cilPencil"></svg>
                  </button>
                  <button cButton color="warning" variant="outline" size="sm" (click)="modalEliminar(item)" *ngIf="item.estado === 'A'">
                    <svg cIcon name="cilBan"></svg>
                  </button>

                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="row col-12">
            <div class="col-12 col-md-6" style="margin-top: 1vh; text-align: center;">
              <div class="col-auto">
                <ngb-pagination [(page)]="pagination.page"
                                (pageChange)="changePage($event-1)"
                                [maxSize]="pagination.maxSize"
                                [pageSize]="pagination.pageSize"
                                [collectionSize]="pagination.collectionSize"></ngb-pagination>
              </div>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column flex-md-row justify-content-end align-items-center">
              <div class="col-auto">
                <span>Registros por página:</span>
              </div>
              <div class="col-auto">
                <select class="form-select form-select-sm" [(ngModel)]="pagination.pageSize" (change)="changeSize($event.target)">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </div>
            </div>
          </div>
        </c-container>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<app-custom-spinner></app-custom-spinner>
<app-modal-crud  [showModal]="mostrarModalCrud" (close)="closeModal()" (submit)="guardar()" [tittle]="this.nombreAccion"
                [disabledSubmit]="form.invalid || deshabilitarBotones || imageSrc === '' || deshabilitarFuncionalidadValores" [disabledOthersButtons]="deshabilitarBotones" [showSubmit]="modo !== 3">
  <div class="d-flex justify-content-center" #topElement>
    <div class="col-12" >
      <form cForm [formGroup]="form">
        <c-alert *ngIf="mostrarMensaje" color="{{type}}">{{mensaje}}</c-alert>
        <div class="col-auto">
          <c-input-group class="mb-2" *ngIf="modo !== 1">
            <div class="col-12">
              <label class="fw-bold" for="id">Id</label>
              <input id="id"
                     autoComplete="id" formControlName="id" cFormControl/>
            </div>
          </c-input-group>

          <c-input-group class="mb-2">
            <div class="col-12">
              <label class="fw-bold" for="nombre">Nombre {{modo === 1 || modo === 2 ? '*' : ''}}</label>
              <input id="nombre" (blur)="functionsUtils.removeSpaces('nombre', form)"
                     [maxLength]="100"
                     [valid]="functionsUtils.campoRequerido(form, 'nombre', 'CR') == 1 ? false : null"
                     autoComplete="nombre" formControlName="nombre" cFormControl/>
              <c-form-feedback [valid]="false">Campo requerido.</c-form-feedback>
            </div>
          </c-input-group>

          <c-input-group class="mb-2">
            <div class="col-12">
              <label class="fw-bold" for="descripcion">Descripción {{modo === 1 || modo === 2 ? '*' : ''}}</label>
              <textarea id="descripcion" (blur)="functionsUtils.removeSpaces('descripcion', form)"
                     [maxLength]="300"
                     [valid]="functionsUtils.campoRequerido(form, 'descripcion', 'CR') == 1 ? false : null"
                        autoComplete="descripcion" formControlName="descripcion" cFormControl></textarea>
              <c-form-feedback [valid]="false">Campo requerido.</c-form-feedback>
            </div>
          </c-input-group>

          <c-input-group class="mb-2">
            <div class="col-12">
              <label class="fw-bold" for="precio">Precio {{modo === 1 || modo === 2 ? '*' : ''}}</label>
              <input id="precio" (blur)="functionsUtils.removeSpaces('precio', form)"
                     [maxLength]="7"
                     [valid]="functionsUtils.campoRequerido(form, 'precio', 'CR') == 1 || functionsUtils.campoRequerido(form, 'precio', 'DI') == 4 ? false : null"
                     autoComplete="precio" formControlName="precio" cFormControl/>
              <c-form-feedback *ngIf="functionsUtils.getValueMap('precio') == 1" [valid]="false">Campo requerido.</c-form-feedback>
              <c-form-feedback *ngIf="functionsUtils.getValueMap('precio') == 4" [valid]="false">Solo se permiten valores numéricos, máximo 4 enteros y 2 decimales</c-form-feedback>
            </div>
          </c-input-group>
          <c-input-group class="mb-2">
            <div class="col-12">
              <label class="fw-bold" for="tipoProducto">Tipo de producto {{modo === 1 || modo === 2 ? '*' : ''}}</label>
              <select id="tipoProducto" cSelect formControlName="tipoProducto">
                <option *ngFor="let obj of listaTipoProducto" [value]="obj.id">
                  {{obj.nombre}}
                </option>
              </select>
              <c-form-feedback [valid]="false">Campo requerido.</c-form-feedback>
            </div>
          </c-input-group>

          <c-input-group class="mb-2">
            <div class="col-12">
              <label class="fw-bold" >Imagen {{modo === 1 || modo === 2 ? '*' : ''}}</label>
              <app-image-upload *ngIf="mostrarImagen" [maxHeight]="700" [minHeight]="500" [maxWidth]="700" [minWidth]="500" [modo]="modo" [imageSrc]="imageSrc" (fileChange)="recibirImagen($event)"></app-image-upload>

              <c-form-feedback [valid]="false">Campo requerido.</c-form-feedback>
            </div>
          </c-input-group>

          <label class="fw-bold">Características {{modo === 1 || modo === 2 ? '*' : ''}}</label>
          <div *ngIf="modo !== 3" class="contenedor-con-fondo">
            <c-input-group class="mb-2 col-12 row">
              <div class="col-4">
                <div cListGroup style="max-width: 100%; overflow: auto;">
                  <a (click)="item.seleccionado = !item.seleccionado;" class="listas" cListGroupItem [active]="item.seleccionado"
                     *ngFor="let item of listaCaracteristicas2" [disabled]="!item.seleccionado && validarSeleccionados()">{{item.nombre}}</a>

                </div>
              </div>
              <!--boton >-->
              <div class="col-2" >
                <button cButton [disabled]="!this.listaCaracteristicas2 ||
                (this.listaCaracteristicas2 && this.listaCaracteristicas2.length === 0) ||
                (this.listaCaracteristicasSeleccionadas && this.listaCaracteristicasSeleccionadas.length > 4) || !mostrarAccordion" (click)="moverADerecha()">></button>
              </div>
              <!--boton <-->
              <div class="col-2">
                <button cButton [disabled]="!this.listaCaracteristicasSeleccionadas ||
                (this.listaCaracteristicasSeleccionadas && this.listaCaracteristicasSeleccionadas.length === 0) || !mostrarAccordion" (click)="moverAIzquierda()"><</button>
              </div>
              <div class="col-4">
                <div cListGroup style="max-width: 100%; overflow: auto;">
                  <a (click)="item.seleccionado = !item.seleccionado" class="listas" cListGroupItem [active]="item.seleccionado" *ngFor="let item of listaCaracteristicasSeleccionadas">{{item.nombre}}</a>
                </div>
              </div>
            </c-input-group>
          </div>
          <div *ngIf="listaCaracteristicasSeleccionadas && listaCaracteristicasSeleccionadas.length > 0 && mostrarAccordion">
            <ng-container *ngTemplateOutlet="innerDiv" >
            </ng-container>
          </div>
        </div>
      </form>
    </div>
  </div>
</app-modal-crud>
<app-modal-delete [showModal]="mostrarModalEliminar" (close)="closeModalDelete()" (submit)="eliminar()" [tittle]="nombreAccion"
                  [disabledSubmit]="deshabilitarBotones" [disabledOthersButtons]="deshabilitarBotones" [showSubmit]="true">
  <div class="justify-content-center col-11">
    <c-alert *ngIf="mostrarMensaje" color="{{type}}">{{mensaje}}</c-alert>
    <form [formGroup]="formEliminar" *ngIf="formEliminar" >
      <span style="word-wrap: break-word;">Confirmar inactivar el registro: {{this.formEliminar.controls.id.value}} - {{this.formEliminar.controls.nombre.value}}</span>
    </form>
  </div>
</app-modal-delete>

<app-modal-filters [showModal]="mostrarModalFiltro" (close)="closeModalFilters()" (submit)="filtrar()" [tittle]="nombreAccion"
                   [disabledSubmit]="deshabilitarBotones" [disabledOthersButtons]="deshabilitarBotones" [showSubmit]="true">

  <div class="justify-content-center col-11">
    <c-alert *ngIf="mostrarMensaje" color="{{type}}">{{mensaje}}</c-alert>
    <form [formGroup]="formFiltros" *ngIf="formFiltros" >
      <form cForm [formGroup]="formFiltros">
        <div class="col-auto">
          <c-input-group class="mb-2">
            <div class="col-12">
              <label class="fw-bold" for="id">Id</label>
              <input (blur)="functionsUtils.removeSpaces('nombre', formFiltros)"
                     autoComplete="id" formControlName="id" cFormControl/>
            </div>
          </c-input-group>

          <c-input-group class="mb-2">
            <div class="col-12">
              <label class="fw-bold" >Nombre</label>
              <input (blur)="functionsUtils.removeSpaces('nombre', formFiltros)"
                     [maxLength]="50"
                     autoComplete="nombre" formControlName="nombre" cFormControl/>
            </div>
          </c-input-group>

          <c-input-group class="mb-2">
            <div class="col-12">
              <label class="fw-bold" >Precio inicio</label>
              <select cSelect formControlName="precioInicio">
                <option *ngFor="let obj of dataUtils.listaRangoPrecios" [value]="obj.codigo">
                  {{obj.descripcion}}
                </option>
              </select>
            </div>
          </c-input-group>

          <c-input-group class="mb-2">
            <div class="col-12">
              <label class="fw-bold" >Precio fin</label>
              <select cSelect formControlName="precioFin">
                <option *ngFor="let obj of dataUtils.listaRangoPrecios" [value]="obj.codigo">
                  {{obj.descripcion}}
                </option>
              </select>
            </div>
          </c-input-group>

          <c-input-group class="mb-2">
            <div class="col-12">
              <label class="fw-bold" for="tipoProducto">Tipo de producto</label>
              <select cSelect formControlName="tipoProducto">
                <option *ngFor="let obj of listaTipoProducto" [value]="obj.id">
                  {{obj.nombre}}
                </option>
              </select>
            </div>
          </c-input-group>

        </div>
      </form>
    </form>
  </div>
</app-modal-filters>

<ng-template #innerDiv>
  <c-accordion [flush]="true" >
    <p class="small" *ngIf="modo !== 3 && listaCaracteristicasSeleccionadas && listaCaracteristicasSeleccionadas.length > 0">
      <span style="font-weight: bold">Nota: </span>
      Los valores deben de tener mínimo 1 caracter y máximo 70, de lo contrario se deshabilitará el botón Agregar (botón del lado derecho del valor)</p>
    <c-accordion-item #item0="cAccordionItem" [visible]="false" *ngFor="let obj of listaCaracteristicasSeleccionadas">
      <ng-template cTemplateId="accordionHeaderTemplate">
        <button (click)="item0.toggleItem(); filtrarCaracteristicasProducto(obj);" [collapsed]="true" cAccordionButton>
          {{obj.nombre}}
        </button>
      </ng-template>
      <ng-template cTemplateId="accordionBodyTemplate">
        <div *ngIf="listaCaracteristicasProducto2">
          <div class="col-12 col d-flex align-items-center" *ngFor="let obj2 of listaCaracteristicasProducto2" (show)="filtrarCaracteristicasProducto(obj)" >
            <input [maxLength]="70" cFormControl type="text" [(ngModel)]="obj2.valor" class="form-control" [disabled]="modo === 3 || (deshabilitarFuncionalidadValores && mostrarMensaje)" style="z-index: 9999999999;"
                   (blur)="removeSpacesString(obj2.valor, obj2)"
                   [valid]="functionsUtils.campoRequeridoFormControl(valorCaracteristicaLista) == 1 ? false : null"
            >
            <button cButton  color="danger" variant="outline" (click)="eliminarCaracteristicaProducto(obj2)" *ngIf="modo !== 3" [disabled]="deshabilitarFuncionalidadValores && mostrarMensaje" style="z-index: 100;">
              <svg cIcon name="cilTrash"></svg>
            </button>
          </div>
        </div>
        <div class="col-12 col d-flex align-items-center" *ngIf="listaCaracteristicasProducto2 && listaCaracteristicasProducto2.length < 5 && modo !== 3">
          <input [maxLength]="70" cFormControl type="text" [formControl]="valorCaracteristica" class="form-control" [disabled]="true" style="z-index: 9999999999; display: flex"
                 (blur)="functionsUtils.removeSpacesFormControl(valorCaracteristica)">
          <button cButton color="success" variant="outline" (click)="agregarCaracteristicaProducto(obj, valorCaracteristica.value)" [disabled]="(deshabilitarFuncionalidadValores && mostrarMensaje) || valorCaracteristica.value.trim() === ''" style="z-index: 100;">
            <svg cIcon name="cilPlus"></svg>
          </button>
        </div>
      </ng-template>
    </c-accordion-item>
  </c-accordion>
</ng-template>
